@reset-global pc;
@reset-global mobile;

:root {
  --frame: {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 10px 20px;
    color: #ccc;
    background: #666;
    box-shadow: 0 0 8px 1px #000;
  }
}

* {
  box-sizing: border-box;
}

html, body, #app {
  display: flex;
  flex: 1;
}

.wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  background: #999;
  overflow: hidden;
  & .content {
    flex: 1;
    overflow: auto;
  }
  & .header {
    @apply --frame;
    flex: 0 0 60px;
    margin-bottom: 4px;
    & h2 {
      flex: 1;
      font-size: 24px/1.5;
    }
    & ul {
      display: flex;
      flex-direction: row;
      text-align: right;
      & li {
        color: #ccc;
        margin-right: 15px;
        cursor: pointer;
        &:hover {
          color: #fff;
        }
        &.active {
          color: #fff;
        }
      }
    }
  }
  & .footer {
    @apply --frame;
    flex: 0 0 50px;
    margin-top: 4px;
    padding-top: 20px;
    font-size: 14px/1.5;
    & a {
      margin: 0 5px;
      color: #ccc;
      text-decoration: none;
      &:hover {
        color: #fff;
        text-decoration: underline;
      }
    }
  }
}
