@reset-global pc;
@reset-global mobile;

html, body, #app{
  display: flex;
  flex: 1;
}

@custom-media --mobile (width <= 640px);

$textSize: 14px;

.home {
  flex: 1;
  display: flex;
  flex-direction: column;
  & .content {
    flex: 1;
    padding: 20px;
    font-size: $textSize;
    & h2 {
      font-size: calc($textSize * 3);
      @media (--mobile) {
        font-size: calc($textSize * 1.5);
      }
    }
    & h3 {
      font-size: calc($textSize * 2);
      @media (--mobile) {
        font-size: calc($textSize * 1.3);
      }
    }
    & h4 {
      margin: 10px;
      font-size: calc($textSize * 1.4);
      @media (--mobile) {
        font-size: calc($textSize * 1.1);
      }
    }
    & span {
      font-size: calc($textSize * 0.9);
      color: #c33 color(#f99 alpha(-80%));
      padding: 2px 3px;
      margin: * 5px;
    }
    & code {
      margin: 10px 0 10px 20px;
      padding: 5px 20px;
      background: gray(90%);
    }
  }
}
.x {
  display: inline-block;
  width: 300px;
  color: #3cc;
  one-line-box: 20px;
}
